<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        body {
            background-color: #3cb4da;
        }

        button:hover {
            background-color: green;
        }

        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 20%;
            height: auto;
            font-size: 20px;

        }
    </style>

</head>

<body onload="saveToDevice();">
<div class="center">
    <h1>Successfully registered.</h1>
    <button onclick="startApp();">Continue</button>
</div>
<div style="display: none">
    <p id="name">{{ name }}</p>
    <p id="login-token">{{ login_token }}</p>
    <p id="codechef-handle">{{ codechef_handle }}</p>
</div>

<script type="text/javascript">

    let saveToDevice = function () {
        let name = document.getElementById('name').innerText;
        let token = document.getElementById('login-token').innerText;
        let handle = document.getElementById('codechef-handle').innerText;

        Register.saveDetails(name, token, handle);
    };

    let startApp = function () {
        Register.startNextActivity();
    };
</script>
</body>
</html>