<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            background-color: #3cb4da;
        }

        button:hover {
            background-color: #80606e;
        }

        button {
            position: absolute;
            left: 50%;
            top: 50%;
            color: #ffffff;
            background-color: #326975;
            transform: translateX(-50%) translateY(-50%);
            width: auto;
            height: auto;
            font-size: 15px;
        }
    </style>

</head>

<body>

<a href="{{ url }}" id="login-url">
    <button type="button"> Login with Codechef</button>
</a>

</body>
</html>